.align-center {
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond(phone) {
        flex-direction: column;
    }
}

.subscribe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}