.feature {
    $this: &;
    width: 100%;
    padding: 80px 0;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;

    &__left {
        color: $white;
        align-self: flex-end;
        // padding-right: 30px;

        #{$this}__tag {
            background-color: $green;
            width: 110px;
            padding: 10px 0;
            border-radius: 50px;
            margin-bottom: 20px;
            @include flexCenter;

            i {
                padding-right: 5px;
            }

            span {
                font-size: 12px;
                font-weight: 600;
            }
        }

        #{$this}__description {
            text-align: start;
            max-width: 550px;
        }

        h1 {
            margin: 20px 0;
        }
        p {
            margin: 20px 0;
        }

        @include respond(tab-port) {
            h1 {
                font-size: 2em;
            }
        }
    }

    &__stories {
        align-self: center;
        width: 400px;
        padding-left: 20px;
        z-index: 2;
        padding-top: 60px;

        h3 {
            padding-bottom: 30px;
        }

        #{$this}__stores {
            margin-top: 50px;

            #{$this}__store {
                margin: 30px 0;
                display: flex;
                align-self: center;
                justify-content: flex-start;
                gap: 25px;

                #{$this}__items {
                    h2 {
                        color: $white;
                        font-size: $sm-fs;
                    }

                    span {
                        color: $white-light;
                        font-size: 12px;
                    }
                }

                hr {
                    width: 100%;
                    height: 1px;
                    background-color: $white-light;
                }
            }
    
        }
    }

    &__stories::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 700px;
        height: 100%;
        background-color: rgba($gray, 0.5);
        z-index: -1;

        @include respond (tab-port) {
            width: 375px;
        }

        @include respond( phone) {
            bottom: 0;
            width: 100%;
            top:40%;
            height: 650px;
        }
    } 

    &__store {
        img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}
